<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-action">
    <div>
        <h3>My Courses</h3>
        {{#if deletedCount}}
        <a href="/me/trash/courses">Trash ({{deletedCount}})</a>
        {{/if}}
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Choose All
                </label>
            </div>
            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
                <option value="">-- Choose Action --</option>
                <option value="delete">Remove</option>
            </select>
            <button class="btn btn-primary btn-sm btn-checked-all" disabled>Implement</button>
        </div>
    </div>

    {{_sort.type}}

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2">#</th>
                <th scope="col">Name Courses {{{sortable 'name' _sort}}}
                <th scope="col" colspan="2">Time Create {{{sortable 'createdAt' _sort}}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIDs[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sumEach @index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Edit</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#deleteCourseModel">Remove</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td class="text-center" colspan="5">Your not yet create any course.
                    <a href="/courses/create"> Create New Course Right Here!</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
{{!-- delete hidden form!!! --}}
<form name="deleteCourseForm" method="POST"></form>

{{!-- Confirm delete course --}}
<div class="modal" id="deleteCourseModel" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Remove Course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color: red;">Are you sure for DELETE THIS COURSE!!!!.</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Not</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var courseId
        var deleteForm = document.forms["deleteCourseForm"]
        var containerForm = document.forms["container-form"]
        var btnDeleteCourse = document.getElementById("btn-delete-course")
        var checkboxAll = $('#checkbox-all')
        var courseItemCheckbox = $('input[name="courseIDs[]"]')
        var disabledButton = $('.btn-checked-all')

        $('#deleteCourseModel').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            courseId = button.data('id')
            console.log(courseId)
        })
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
            deleteForm.submit()
        }

        //checkbox all changed
        checkboxAll.change(function () {
            var isChecked = $(this).prop('checked')

            courseItemCheckbox.prop('checked', isChecked)
            renderCheckAllSubmitButton()


        })
        //course Item checkbox clicked
        courseItemCheckbox.change(function () {
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIDs[]"]:checked').length
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitButton()

        })

        // re-render check all submit button
        function renderCheckAllSubmitButton() {
            var checkedCount = $('input[name="courseIDs[]"]:checked').length
            if (checkedCount > 0) {
                disabledButton.attr('disabled', false)
            }
            else {
                disabledButton.attr('disabled', true)
            }
        }
    })

</script>